[*.cs]

# IDE0060: Supprimer le paramètre inutilisé
dotnet_code_quality_unused_parameters = all:none

# CS0108: Un membre masque un membre hérité ; le mot clé new est manquant
dotnet_diagnostic.CS0108.severity = none

# IDE0044: Ajouter un modificateur readonly
dotnet_style_readonly_field = true:none

# IDE0002: Simplifier l'accès au membre
dotnet_diagnostic.IDE0002.severity = none

# IDE0048: Ajouter des parenthèses pour plus de clarté
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:none

# IDE0048: Ajouter des parenthèses pour plus de clarté
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none

# IDE0048: Ajouter des parenthèses pour plus de clarté
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:none

# IDE0048: Ajouter des parenthèses pour plus de clarté
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:none

# CS0659: Le type se substitue à Object.Equals(object o) mais pas à Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = none
